<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form #loginForm="ngForm" [formGroup]="changeForm" novalidate>
    <ion-list no-lines>
      
      <ion-item>
        <ion-label stacked color="primary">New Password</ion-label>
<ion-input name="password" type="password" formControlName="password" placeholder="New password here" required>


        </ion-input>
      </ion-item>
<p *ngIf="!changeForm.controls['password'].valid && changeForm.controls['password'].touched" ion-text color="danger" padding-left>
       New Password is required </p>
  
      <ion-item>
        <ion-label stacked color="primary">Confirm Password</ion-label>
<ion-input name="con_password" type="password" formControlName="con_password" placeholder="Re-type password" (ngModelChange)="checkpassword($event,changeForm.value)" required>


        </ion-input>
      </ion-item>
<p *ngIf="!changeForm.controls['con_password'].valid && changeForm.controls['con_password'].touched" ion-text color="danger" padding-left>
        Confirm password is required</p>
<p *ngIf="!passwordmatch  && changeForm.controls['con_password'].valid" ion-text color="danger" padding-left>Password and Confirm password not match </p>
  
      <div padding class="p-b-5">
        <button ion-button round class="blue-btn" [disabled]="!passwordmatch" (click)="changepass(changeForm.value)" type="submit" block>Save Changes</button>
      </div>
  
  
    </ion-list>
  
  </form>
</ion-content>
