page-home {

    .toolbar-title{ color: #ffffff; text-transform: uppercase; font-family: 'Poppins', sans-serif;  font-weight: 300 !important; }

.searchbar{background: #3a3a3a}
.searchbar .searchbar-input{border-radius: 50px}

.content {background: #f9f9f9 !important; padding-left: 10px!important; padding-right:10px!important }
.content .scroll-content{padding-left: 10px!important; padding-right:10px!important }


.slide-holder{border:1px solid #ccc; border-radius: 3px; width:105px !important; padding:4px !important; background:#fff; box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2); margin-right:5px; margin-bottom: 25px}
.slide-holder .item-image{width:100%; height:95px;}
.slide-holder .item-image img{width:100%; height:auto; object-fit:cover}
.slide-holder h6{font-size: 1rem; margin: 6px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color:#000}
.slide-holder .price{font-size: 1.2rem; font-weight: 500;margin: 2px 0}
.slide-holder .price span{width:10px; display: inline-block; }
.slide-holder .price span.old-price{width:auto; display: inline-block; font-size: 1rem; color:#888; text-decoration: line-through }
.swiper-pagination-bullets{bottom: -4px !important}
.slides{ height: auto; margin-bottom: 15px}
.swiper-pagination-bullet-active{ background: #545454 !important; }
.brand-logo{
    width: 190px !important;
    height: auto;
}
.brand-logo .item-image{
    height: 110px;
    align-items: center;
    display: flex;
    padding: 6px;
}

}
