<!--
  Generated template for the MessageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-icon></ion-icon> 
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <ion-item class="request-item" *ngFor="let item of messageList">
      <ion-thumbnail item-start>
        <img src="{{item.image}}">
      </ion-thumbnail>
      <!-- <h2>User Name</h2> -->
     
      <p>{{item.date_diff}} ago</p>
      <ion-icon name="chatbubbles" (click)="messageDetails(item.to_id,item.from_id,item.product_id)"></ion-icon>
    </ion-item>


    <ion-item class="request-item" *ngIf="messageList==''">
        
      Sorry! No message found.
      </ion-item>



    <!-- <ion-item class="request-item">
      <ion-thumbnail item-start>
        <img src="assets/img/Arijit-Singh.jpg">
      </ion-thumbnail>
      <h2>User Name</h2>
      <p>Lorem Ipsum is simply dummy text of the printing...</p>
    </ion-item>
    <ion-item class="request-item">
      <ion-thumbnail item-start>
        <img src="assets/img/Arijit-Singh.jpg">
      </ion-thumbnail>
      <h2>User Name</h2>
      <p>Lorem Ipsum is simply dummy text of the printing...</p>
    </ion-item>
    <ion-item class="request-item">
      <ion-thumbnail item-start>
        <img src="assets/img/Arijit-Singh.jpg">
      </ion-thumbnail>
      <h2>User Name</h2>
      <p>Lorem Ipsum is simply dummy text of the printing...</p>
    </ion-item>
    <ion-item class="request-item">
      <ion-thumbnail item-start>
        <img src="assets/img/Arijit-Singh.jpg">
      </ion-thumbnail>
      <h2>User Name</h2>
      <p>Lorem Ipsum is simply dummy text of the printing...</p>
    </ion-item> -->
    </ion-list>
</ion-content>
