<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>details</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar>
      
    
    <ion-title>
      <img src="assets/img/appicon.png" alt="">
    </ion-title>

    <ion-buttons end >
      <button ion-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="margin-bottom: 50px">

  <ion-card>
    <ion-card-content>
      <p class="top-content">
        <img src="assets/img/thumb.png" alt="">
        <span>{{totallike}}</span>
      </p>
      <img class="detail-pic" src="{{product_single_image}}" alt="">
      <ion-row justify-content-center>
        <!-- <ion-col col-2 class="pr-0">
          <div class="thumb-area">
            <img src="assets/img/thumb.png" alt="">
          </div>
        </ion-col> -->
        <ion-col col-2 class="pl-0" *ngIf="user_id!=seller_id">
          <div class="thumb-area" (click)="favourite(seller_id)">
            <img src="assets/img/heart.png" alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <div class="body-area">
      <h2>{{brands}}/{{category}}({{gender}})</h2>
      <p> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> ({{averagerating}}) </p>
      <h1>{{currency_code}} {{price}}</h1>
      <p>Seller Name: {{seller_name}}</p>
      <p>Phone No: {{seller_phone}}</p>
      <p>Address: {{seller_address}}</p>
      <p>Product Bracelet Type: {{breslet_type}}</p>
      <p>Product Size: {{size}}</p>
      <p>Model Year: {{model_year}}</p>
      <p>Movement: {{movement}}</p>
      <p>Date of Purchased: {{date_purchase}}</p>
      <p>Status of watch: {{status_watch}}</p>
      <p>Product Description: {{description}}</p>
      <p>Reference No: {{reference_no}}</p>

    </div>

    <div padding style="padding-bottom: 45px" *ngIf="ptype== 1 && user_id!=seller_id && interest== 0">
      <button ion-button round class="grey-btn" block (click)="interestedEmailToVendor(seller_id,ptype)">I am Interested</button>
    </div>
    <div padding *ngIf="ptype== 2 && ctime > start_time && user_id!=seller_id" style="padding-bottom: 45px">
      <button ion-button round class="grey-btn"  block (click)="gotobid()">Go Live Bidding</button>
    </div>

  </ion-card>

</ion-content>
