<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>details</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar>
      
    
    <ion-title>
      <img src="assets/img/appicon.png" alt="">
    </ion-title>

    <ion-buttons end >
      <button ion-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<div class="rating-part" *ngIf ="isShow">
  <ion-card class="rating-area" >
<rating readOnly="true" [(ngModel)]="rate" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"> 
</rating>
<ion-item>
    <ion-label stacked color="primary">Review</ion-label>
<ion-input  type="text" [(ngModel)]="review" placeholder="Type your review" required>
    </ion-input>
  </ion-item>
  <p style="padding: 0 16px;">Recommend this product ?</p>
  <ion-list class="review-recommend" radio-group [(ngModel)]="recomend">
     
      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio value="1" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
<ion-row>
  <ion-col col-6>
    <button ion-button color="dark" block (click)="submit()">Submit</button>
  </ion-col>
  <ion-col col-6>
      <button ion-button color="light"  block (click)='hide()'>Cancel</button>
    
    </ion-col>
</ion-row>
</ion-card>
</div>

<ion-content style="margin-bottom: 50px">
  <ion-card>
    <ion-card-content class="height-250">
    <div class="like">
      <p class="top-content">
        <img src="assets/img/thumb2.png" alt="">
        <span>{{totallike}}</span>
      </p>

      </div>
      <div class="heart" *ngIf="user_id!=seller_id && ptype==1">
          <div class="thumb-area" (click)="favourite(seller_id)">
            <img *ngIf="is_fav== 0" src="assets/img/heart.png" alt="">
            <img *ngIf="is_fav== 1" src="assets/img/heart-red.png" alt="">
          </div>
        </div>
      <ion-slides class="image-slider" loop="true" pager>

        <ion-slide *ngFor="let img of sliderimages">
          <img src="{{img.src}}" class="detail-pic" imageViewer/>
        </ion-slide>
      </ion-slides>
      <!-- <img class="detail-pic" src="{{product_single_image}}" alt=""> -->
      <ion-row justify-content-center>
        <!-- <ion-col col-2 class="pr-0">
          <div class="thumb-area">
            <img src="assets/img/thumb.png" alt="">
          </div>
        </ion-col> -->
        
      </ion-row>
    </ion-card-content>
    <div class="body-area">
    <div class="d-box">
    	<h2 style="padding-bottom: 5px;">{{brands}}/{{category}}({{gender}})</h2>
      <p *ngIf="ptype==1" style="border: none;"> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> ({{averagerating}}) <span>
      	<a class="new-abtn" *ngIf="ptype== 1 && user_id!=seller_id && user_type!=3" (click)="show()">Write a review</a>
      </span> </p>
      <h1>{{currency_code}} {{price}}</h1>
    </div>
      
      <div class="d-box">
      <h2>Seller Informations</h2>
      <p><span>Seller Name:</span> {{seller_name}}</p>
      <p *ngIf="interest== 1"><span>Phone No:</span> {{seller_phone}}</p>
      <p *ngIf="interest== 1"><span>Address:</span><br/>{{seller_address}}</p>
      </div>
      <!-- <div class="d-box" *ngIf="interest== 1">
      <button ion-button round class="grey-btn" block (click)="interestedEmailToVendor(seller_id,ptype)">I am Interested</button>
      </div> -->
      <button ion-button round class="grey-btn" *ngIf="interest== 1" (click)="ishide()">Contact Seller</button>
      <div class="d-box" *ngIf="interest== 1 && hideMe">
        <form padding  novalidate [formGroup]="sellercontact">
        <h2>Your Messages</h2>
        <ion-textarea round rows="5" maxLength="500" placeholder="Type Message" formControlName="message"></ion-textarea>
        <div padding class="p-b-5">
          <button ion-button round class="grey-btn" (click)="addmessage(sellercontact.value)" type="submit" block>Send</button>
        </div>
      </form>
      </div>
      <div class="d-box" *ngIf="interest== 1">
      <h2>Location Map</h2>
      <!-- <div id="map" style="height:400px;">
      </div> -->
      </div>
      <div class="d-box">
      <h2>Product informations</h2>
      <p><span>Product Bracelet Type:</span> {{breslet_type}}</p>
      <p><span>Product Size:</span> {{size}}</p>
      <p><span>Model Year:</span> {{model_year}}</p>
      <p><span>Movement:</span> {{movement}}</p>
      <p><span>Date of Purchased:</span> {{date_purchase}}</p>
      <p *ngIf="status_watch=='New'"><span>Status of watch:</span> {{status_watch}} </p>
      <p *ngIf="status_watch=='Mint'"><span>Status of watch:</span> {{status_watch}} <ion-icon  ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon></p>
      <p *ngIf="status_watch=='Excellent'"><span>Status of watch:</span> {{status_watch}} <ion-icon  ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon></p>
      <p *ngIf="status_watch=='Good'"><span>Status of watch:</span> {{status_watch}} <ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon></p>
      <p *ngIf="status_watch=='Fair'"><span>Status of watch:</span> {{status_watch}} <ion-icon ios="ios-star" md="md-star"></ion-icon><ion-icon ios="ios-star" md="md-star"></ion-icon></p>
      <p *ngIf="status_watch=='Poor'"><span>Status of watch:</span> {{status_watch}} <ion-icon ios="ios-star" md="md-star"></ion-icon></p>

      <p><span>Product Description:<br /></span> {{description}}</p>
      <p><span>Reference No:</span> {{reference_no}}</p>
      </div>
      <div class="d-box" *ngIf="ptype==1">
      <h2>Reviews</h2>
      <div class="noti-list">
      <ion-item *ngFor="let r of reviews">
      <ion-avatar item-start>
        <img src="{{r.userimage}}" alt="">
      </ion-avatar>
      <h2>{{r.username}}</h2>
      <p style="border: none;"> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> <ion-icon ios="ios-star" md="md-star"></ion-icon> ({{r.rating}})</p>
      <p>{{r.review}}</p>
      <small>{{r.date}} Days ago</small>
    </ion-item>

    <ion-item *ngIf="reviews==''">
       No review found.
      </ion-item>
    
    </div>
      </div>
</div>
    
    

    <div padding style="padding-bottom: 15px" *ngIf="ptype== 1 && user_id!=seller_id && interest== 0 && user_type!=3">
      <button ion-button round class="grey-btn" block (click)="interestedEmailToVendor(seller_id,ptype)">I am Interested</button>
    </div>
    <div padding *ngIf="ptype== 2 && ctime > start_time && user_id!=seller_id && user_type!=3" style="padding-bottom: 45px">
      <button ion-button round class="grey-btn"  block (click)="gotobid()">Go Live Bidding</button>
    </div>

  </ion-card>

</ion-content>
